# binary file
/orchestratorm8

# configuration files
/configuration.yaml

# other session files

# bin folder
bin/*
# exception to the rule
!bin/.gitkeep
!bin/dockerfile

# app folder
app/*

# log folder
log/*
!log/.gitkeep

# docs folder
docs/*

# AI
CLAUDE.md
